.group-site {
  .note-item {
    display: flex;
    width: 20%;
    box-sizing: border-box;
    margin: 10px 1.5%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .name {
      width: 100%;
    }

    .delete {
      margin-right: 3px;
      margin-bottom: 3px;
      cursor: pointer;
      
    }

    .delete:hover {
      opacity: 0.8;
      transition: all 0.5s;
    }
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    color: #333;
    font-family: Arial, sans-serif;
  }

  .main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
  }

  button:hover {
    background-color: #004494;
  }

  /* Content sections */
  .content {
    padding: 10px 0;

    button {
      width: 50px;
      height: 50px;
    }
  }

  .notes-section,
  .members-section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .notes-section h2,
  .members-section h2 {
    font-size: 20px;
    color: #00477d;
    margin-bottom: 10px;
  }

  .title-card {
    font-size: 50px;
    color: #00477d;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .top-bar {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;

    span {
      cursor: pointer;
      padding: 5px 5px 5px 5px;
      background-color: whitesmoke;
      border-radius: 5px;
      margin: 10px 10px 10px 10px;
      width: 35px;
    }

    span:hover {
      transition: all 0.3s;
      background: rgba(10, 101, 175, 0.726);
      color: whitesmoke;
    }
  }

  .Addtooltip {
    visibility: hidden;
    background-color: rgba(180, 180, 180, 0.129);
    color: #00477d;
    text-align: center;   
    border-radius: 5px;
    padding: 5px;
    right: 55px;
    position: absolute;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
    top: 20px;
    height: 35px;
    font-weight: bold;
  }

  .Addtooltip.onHover {
    visibility: visible;
    opacity: 1;
  }

  .Backtooltip {
    visibility: hidden;
    background-color: rgba(180, 180, 180, 0.129);
    color: #00477d;
    text-align: center;   
    border-radius: 5px;
    padding: 5px;
    left: 115px;
    position: absolute;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
    top: 20px;
    height: 35px;
    font-weight: bold;
  }

  .Backtooltip.onHover {
    visibility: visible;
    opacity: 1;
  }


  .empty-msg {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
  }

  .member-item {
    display: flex;
    justify-content: space-between;
    width: 20%;
    box-sizing: border-box;
    margin: 10px 1.5%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;

    &:hover {
      background-color: #f1f1f1;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .name {
      width: 100%;
    }

    .delete {
      margin-right: 3px;
      margin-bottom: 3px;
      cursor: pointer;
      
    }

    .delete:hover {
      opacity: 0.8;
      transition: all 0.5s;
    }
  }
}
