.main-site {

  .card {
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ebebeb9a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }

  button:hover {
    background-color: #004494;
  }

  h1 {
    font-size: 2rem;
    color: #0056b3;
    margin-top: 10px;
  }

  
}