.home-site {
  .note-item {
    display: inline-block;
    width: 20%;
    min-width: 150px;
    box-sizing: border-box;
    margin: 10px 1.5%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    cursor: pointer;

    &:hover {
      transition: all 0.3s;
      background-color: #f1f1f1;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #d3d3d3; /* Light gray background */
    color: #333;
    font-family: Arial, sans-serif;
  }

  .main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

    @media screen and (max-width: 768px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .profile {
        margin-top: 0;
      }
    }

    span {
      cursor: pointer;
      padding: 5px 5px 5px 5px;
      border-radius: 5px;
      height: 35px;
      margin-right: 10px;
      min-width: 50px;

      &:hover {
        transition: all 0.3s;
        background: rgba(10, 101, 175, 0.726);
        color: whitesmoke;
      }
    }

    h1 {
      font-size: 36px;
      color: #00477d; /* Dark blue color */
    }

    .profile {
      margin-top: 8px;
      .profil-tooltip {
        visibility: hidden;
        color: #00477d;
        opacity: 0;
        transition: opacity 0.5s;
        transition-delay: 0.5s;

        &.onHover {
          visibility: visible;
          opacity: 0.8;
        }
      }
    }
    .center {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .Backtooltip {
        visibility: hidden;
        color: #00477d;
        opacity: 0;
        transition: opacity 0.5s;
        transition-delay: 0.5s;
        
      }

      .Backtooltip.onHover {
        visibility: visible;
        opacity: 0.8;
      }

      margin-left: 50px;
      .logo {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-top: -5px;
        cursor: pointer;
        justify-content: center;

        &:hover {
          opacity: 0.8;
          transition: all 0.5s;
        }
      }
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    width: 40px;
  }
  button:hover {
    transition: all 0.3s;
    background-color: #004494;
  }

  /* Content sections */
  .content {
    padding: 10px 0;

    button {
      width: 50px;
      height: 50px;
    }
  }

  .notes-section,
  .shared-notes-section,
  .group-section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    .megosztasok {
      display: flex;
      justify-content: space-between;

      h2 {
        margin-top: -5px;
      }

      .megosztasok {
        span {
          cursor: pointer;
          padding: 5px 5px 5px 5px;
          border-radius: 5px;
          height: 35px;
          margin-top: -3px;

          &:hover {
            transition: all 0.3s;
            background: rgba(10, 101, 175, 0.726);
            color: whitesmoke;
          }
        }
      }
      .share-tooltip {
        visibility: hidden;
        color: #000000;
        opacity: 0;
        transition: opacity 0.5s;
        transition-delay: 0.5s;
        margin-right: 10px;
        padding: 5px 5px 5px 5px;
        border-radius: 5px;
        margin-top: -2px;
      }


      .share-tooltip.onHover {
        visibility: visible;
        opacity: 0.8;
      }
    }
  }

  .notes-section h2,
  .shared-notes-section h2,
  .group-section h2 {
    font-size: 20px;
    color: #00477d;
    margin-bottom: 10px;
  }

  .empty-msg {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
  }

  .group-item {
    display: inline-block;
    width: 20%;
    min-width: 150px;
    box-sizing: border-box;
    margin: 10px 1.5%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    cursor: pointer;

    &:hover {
      transition: all 0.3s;
      background-color: #f1f1f1;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .group-name {
      font-size: 16px;
      font-weight: bold;
      color: #333;
      
    }

    .group-actions {
      display: flex;
      gap: 10px;

      button {
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 5px;
        background-color: #0056b3;
        color: #fff;
        border: none;
        cursor: pointer;

        &:hover {
          transition: all 0.3s;
          background-color: #004494;
        }
      }
    }
  }
}
