.profile-site {


  .edit-field {
    display: flex;
    gap: 5px;
    .edit {
      width: 50px;
      
    }
    .isActive {
        color: rgba(42, 42, 42, 0.63);
        background-color: white;
        border: 1px black
      }
  }
  
  .card {
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #ebebeb9a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    margin: 20px 20px 20px 20px;
    font-size: 2.5rem;
  }

  form div {
    margin-bottom: 15px;
    text-align: left;
  }

  label {
    display: block;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
  }

  button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }

  button:hover {
    background-color: #004494;
  }

  .password-field {
    margin-top: 10px;
    display: flex;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #0056b3;
    background-color: #ffffff;

    input {
      width: 100%;
      padding: 10px 0;
      border: 0;
      outline: 0;
      margin: 1px 1px 1px 1px;
      padding-left: 10px;
    }

    img {
      width: 10%;
      cursor: pointer;
      align-self: center;
      padding: 5px 5px 5px 5px;
    }
  }
}
