.open-search-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;

  .shareOptions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 5px;

    span {
      width: 100%;
      height: 100%;
    }

    .active-span {
      padding: 5px;
      background-color: rgb(19, 21, 157);
      color: white;
    }

    .inactive-span {
      cursor: pointer;
      padding: 5px;
      background-color: whitesmoke;

      margin-bottom: 5px;

      &:hover {
        transition: all 0.3s;
        background: rgba(89, 90, 91, 0.726);
        color: whitesmoke;
      }
    }
  }
}


.search-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.close-btn {
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  width: 35%;
  margin-right: 20px;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    width: 100%;
    padding: 10px;
    padding-right: 35px; 
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }

  .icon {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

.add-button {
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
  width: 40px;
  height: 40px;
}

.results-list {
  width: 100%;
  display: block;
  max-height: 200px; 
  overflow-y: auto; 
  background-color: white;
  margin-bottom: 10px;
  table {
    width: 100%;
    border-collapse: collapse;
    
  }

  td {
      width: 100%; 
      padding: 10px; 
    }

}

.result-item {
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
  margin-bottom: 5px;
  width: 100%;
}

.no-results {
  text-align: center;
  padding: 10px;
  color: #000000;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #000000;
  text-align: center;
}